requests_oauthlib==0.4.2
git+git://github.com/openstack/python-keystoneclient.git@19cfe4f11f933f0439e649cff6b3c979158fc40e
python-swiftclient==2.5.0
logbook==0.8.1
googleads==3.5.0
statsd==2.1.2
boto==2.38.0
